<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chat | ChatApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="mobile-web-app-capable" content="yes" />
  <link rel="stylesheet" href="css/styles.css">
</head>
<body class="chat">
  <div class="chat__sidebar">
    <h3>People</h3>
    <div id="users"></div>
    <hr>
    <h3>Chatrooms</h3>
    <div id="chatrooms"></div>
  </div>

  <div class="chat__main">
    <ol id='messages' class="chat__messages"></ol>

    <div class="chat__footer">
      <form id="message-form">
        <input type="text" name="message" placeholder="Message" autofocus autocomplete="off">
        <button>Send</button>
      </form>
      <button id="send-location" type="button">Send Location</button>
    </div>
  </div>

  <script id="message-template" type="text/template">
    <li class="message">
      <div class="message__title">
        <h4>{{from}}</h4>
        <span>{{createdAt}}</span>
      </div>
      <div class="message__body">
        <p>{{text}}</p>
      </div>
    </li>
  </script>

  <script id="location-message-template" type="text/template">
    <li class="message">
      <div class="message__title">
        <h4>{{from}}</h4>
        <span>{{createdAt}}</span>
      </div>
      <div class="message__body">
        <p>
          <a href="{{url}}" target="_blank">My current location</a>
        </p>
      </div>
    </li>
  </script>

  <script src="/socket.io/socket.io.js" type="text/javascript"></script>
  <script src="/js/libs/jquery.js" type="text/javascript"></script>
  <script src="/js/libs/moment.js" type="text/javascript"></script>
  <script src="/js/libs/mustache.js" type="text/javascript"></script>
  <script src="/js/libs/deparam.js" type="text/javascript"></script>
  <script src="/js/chat.js" type="text/javascript"></script>
</body>
</html>
